<div class="mssg-content">

	<div class="mssg-background">
		<div class="mssg-background-blurb">
			<div id="blurb-text">
				About Us
			</div>
			<div class="mssg-sub-links">
				<ul>
					<li><a ui-sref="about-mssg">MSSG</a></li>
					<li><a ui-sref="about-csdc">CSDC Team</a></li>
					<li><a ui-sref="about-education">Education Team</a></li>
					<li><a ui-sref="about-policy">Policy Team</a></li>
					<li><a ui-sref="about-contact">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<!-- <div id="background-overlay"></div> -->
		<div id="background-canvas"></div>
	</div>
</div>
