<div class="container" style="margin-bottom: 20px">
	<div class="row" style="margin-bottom:30px;">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">CSDC</h3>
			<hr>
			<div class="row line-gap text-center">
				<div class="col-md-10 col-md-offset-1">
					<h4>
						Design, build, test and launch a 3U CubeSat in lower earth orbit with a star tracker payload to participate in the Canadian Satellite Design Challenge (CSDC).
					</h4>
				</div>
			</div>
			<hr>
		</div>
	</div>

  <!-- <div class="row text-center">
    <img src="" alt="" style="background:grey;width:900px;height:300px;">
  </div> -->
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
      <h3 class="text-center">Who we are</h3>
      <hr>
			<div class="row">
				<div class="pad-sides">
					<p class="indent-para">
						The MSSG believes that one of the most adequate methods of learning engineering is by working on projects thereby learning the design process in a team. The CSDC group provides the opportunity for students to learn through designing and building. By competing in the CSDC, students gain experience in many engineering disciplines, they will learn how to work in a team and will gain various soft skills.
					</p>
				</div>
			</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
      <h3 class="text-center">Our Mission</h3>
      <hr>
      <div class="row">
        <div class="text-center col-md-4 col-md-offset-0">
					<img src="/assets/img/logos/logo_CSDC.png" alt="" style="width:200px;height:200px;">
        </div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						The MSSG CSDC Team works to design, build, test and potentially launch a 3U CubeSat in lower earth orbit with a star tracker payload, and participate in the Canadian Satellite Design Challenge.
					</p>
				</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
      <h3 class="text-center">Meet the Team</h3>
      <hr>
			<div class="row">
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/clovis.jpg" alt="">
					<p style="margin-bottom:0px;">Clovis Vinant-Tang</p>
					<small><i>Payload Subsystem Leader</i></small>
				</div>
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/isaac.jpg" alt="">
					<p style="margin-bottom:0px;">Isaac Chan</p>
					<small><i>Mission Operations Leader</i></small>
				</div>
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/alexandre.jpg" alt="">
					<p style="margin-bottom:0px;">Alexandre Leboucher</p>
					<small><i>Structural Subsystem Leader</i></small>
				</div>
			</div>
			<div class="row">
				<div><br></div>
			</div>
			<div class="row">
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/walid.png" alt="" style="object-position:0px -5px;">
					<p style="margin-bottom:0px;">Walid Chabchoub</p>
					<small><i>Communications Subsystem Leader</i></small>
				</div>
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/reef.jpg" alt="">
					<p style="margin-bottom:0px;">Reef Hamadah</p>
					<small><i>Power Subsystem Leader</i></small>
				</div>
				<div class="text-center col-md-4">
					<img class="head_photo" src="/assets/img/head_shots/talha.jpg" alt="">
					<p style="margin-bottom:0px;">Talha Tariq</p>
					<small><i>Controls Subsystem Leader</i></small>
				</div>
			</div>
    </div>
  </div>
</div>
