<div class="container" style="margin-bottom: 20px">
	<div class="row" style="margin-bottom:30px;">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">Education Team</h3>
			<hr>
			<div class="row line-gap text-center">
				<div class="col-md-10 col-md-offset-1">
					<h4>
						Demystifying outer space, to bring it into the classroom.
					</h4>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<!-- <div class="row text-center">
		<img src="" alt="" style="background:grey;width:900px;height:300px;">
	</div> -->
	<div class="row">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">Who we are</h3>
			<hr>
			<div class="row">
				<div class="pad-sides">
					<p class="indent-para">
						Our team is composed of several undergraduate students coming from various backgrounds, including not only education majors, but also physics, computer science and engineering majors. Having such a diverse group of devoted students, that hold education very close to their hearts proves that this division will be able to spark the scientific interest in many young students, ensuring a bright future for the world of space.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">Our Mission</h3>
			<hr>
			<div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="/landing-page/assets/img/logos/logo_education.png" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						Our goal, as a team, is to construct different educational programs targeted for Elementary School, High School, CEGEP, but also for general public. We want to show, by the means of teaching, that the future of space is not only reserved to astronauts, physicists and engineers. It is also a future that has a need for other disciplines such as Law, Politics, Finance, and many more. By making this a priority in the classroom, we make sure that every young student gets to know what they can really bring to the table. Our project aims to spark the interest of space in schools, and show that space is not just another farfetched, or even impossible, dream.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">Meet the Team</h3>
			<hr>
      <div class="row">
        <!--<div class="text-center col-md-4">-->
        <div class="text-center col-md-6">
          <img class="head_photo" src="/landing-page/assets/img/head_shots/felix.png" alt="">
					<p style="margin-bottom:0px;">Félix-Antoine Valin</p>
					<small><i>Education Director</i></small>
        </div>
	<!--<div class="text-center col-md-4">
          <img class="head_photo" src="/landing-page/assets/img/head_shots/oumnia.jpg" alt="">
          <p style="margin-bottom:0px;">Oumnia Bazi</p>
          <small><i>Program Leader</i></small>
        </div>-->
        <div class="text-center col-md-6">
          <img class="head_photo" src="/landing-page/assets/img/head_shots/julien.png" alt="">
          <p style="margin-bottom:0px;">Julien Morizio</p>
          <small><i>Education Advisor</i></small>
        </div> -->
        <!--<div class="text-center col-md-4">
          <img class="head_photo" src="/landing-page/assets/img/head_shots/tamara.jpg" alt="">
          <p style="margin-bottom:0px;">Tamara Jacod</p>
          <small><i>Program Leader</i></small>
        </div>
        <div class="text-center col-md-4">
          <img class="head_photo" src="/landing-page/assets/img/head_shots/abtin.png" alt="">
          <p style="margin-bottom:0px;">Abtin Ameri</p>
          <small><i>Program Leader</i></small>
        </div> -->
      </div>
			<div class="row">
				<div><br></div>
      </div>
		</div>
	</div>
</div>
