<div class="container" style="margin-bottom: 20px">
	<div class="row" style="margin-bottom:30px;">
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center">About Us</h3>
			<hr>
			<div class="text-justify line-gap">
				<p class="indent-para">The space industry is on an up and up since companies like SpaceX have brought innovation and creativity to it. We believe that initiatives taken towards advancing the space industry are necessary for the future of the human race. This belief is the foundation of the McGill Space Systems Group.</p>
				<p class="indent-para">It is our intention that by contributing in the research and development of space ready technology, McGill will have a great impact on the industry as a whole. It is, however, important for this group to ensure that Undergraduate students learn about this sector and involve themselves in its development.</p>
				<p class="indent-para">In order to accomplish this, the McGill Space Systems Group participates in the Canadian Satellite Design Challenge (CSDC), which involves designing, fabricating, testing and potentially launching a nanosatellite.</p>
			</div>
			<hr>
		</div>
	</div>
	<div class="row" id="mssg">
		<a name="mssg"></a>
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center"><a href="/landing-page/#!/about/mssg">MSSG</a></h3>
			<hr>
			<div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="/landing-page/assets/img/logos/logo_mssg.png" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						We believe that initiatives taken towards advancing the space industry are necessary for the future of the human race. This belief is the foundation of the McGill Space Systems Group.</p>
					</p>
					<p class="indent-para">
						It is our intention that by contributing in the research and development of space ready technology, McGill will have a great impact on the industry as a whole. It is, however, important for this group to ensure that Undergraduate students learn about this sector and involve themselves in its development.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="csdc">
		<a name="csdc"></a>
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center"><a href="/landing-page/#!/about/csdc">CSDC Team</a></h3>
			<hr>
			<div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="/landing-page/assets/img/logos/logo_CSDC.png" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						The MSSG believes that one of the most adequate methods of learning engineering is by working on projects thereby learning the design process in a team. The CSDC group provides the opportunity for students to learn through designing and building. By competing in the CSDC, students gain experience in many engineering disciplines, they will learn how to work in a team and will gain various soft skills.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="education">
		<a name="education"></a>
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center"><a href="/landing-page/#!/about/education">Education Team</a></h3>
			<hr>
			<div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="/landing-page/assets/img/logos/logo_education.png" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						Our team is composed of several undergraduate students coming from various backgrounds, including not only education majors, but also physics, computer science and engineering majors. Having such a diverse group of devoted students, that hold education very close to their hearts proves that this division will be able to spark the scientific interest in many young students, ensuring a bright future for the world of space.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="policy">
		<a name="policy"></a>
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center"><a href="/landing-page/#!/about/policy">Policy Team</a></h3>
			<hr>
			<div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="/landing-page/assets/img/logos/logo_policy.png" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					<p class="indent-para">
						SPIRG is a dedicated team of people from the fields of International Relations, Economics, Law, and Geography ranging from passionate undergraduates to graduate students to faculty members.
					</p>
					<p class="indent-para">
						The Space Policy and Industry Research Group, or “SPIRG," endeavors to understand national space policies and the international space industry from a comparative perspective so as to aid companies and law makers in entering this growing territory. Space affects every nation, not just those whom signed the 1967 United Nations Outer Space Treaty.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="contact">
		<a name="contact_us"></a>
		<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
			<h3 class="text-center"><a href="/landing-page/#!/about/contact">Contact Us</a></h3>
			<hr>
			<!-- <div class="row">
				<div class="text-center col-md-4 col-md-offset-0">
					<img src="" alt="" style="width:200px;height:200px;">
				</div>
				<div class="text-justify line-gap col-md-8 col-sm-12 col-xs-12">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div> -->
		</div>
	</div>

</div>

<script>updateNavbarUnderlines("about");</script>
