<div class="container" style="margin-bottom:30px;">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-12 col-md-offset-3">
			<h3 class="text-center">Our Mission</h3>
			<hr/>
			<div class="text-center" style="font-size: 1.2em;">
				Research and build space ready technology at McGill, and participate in the Canadian Satellite Design Challenge
			</div>
			<hr/>
		</div>
		<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1 text-justify line-gap" style="font-size: 1em;">
				<p>The space industry is on an up and up since companies like SpaceX have brought innovation and creativity to it. We believe that initiatives taken towards advancing the space industry are necessary for the future of the human race. This belief is the foundation of the McGill Space Systems Group.</p>

				<p>It is our intention that by contributing in the research and development of space ready technology, McGill will have a great impact on the industry as a whole. It is, however, important for this group to ensure that Undergraduate students learn about this sector and involve themselves in its development.</p>

				<p>In order to accomplish this, the McGill Space Systems Group participates in the Canadian Satellite Design Challenge (CSDC), which involves designing, fabricating, testing and potentially launching a nanosatellite.</p>
		</div>
	</div>
</div>
