<div class="container" style="margin-bottom:30px;">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-12 col-md-offset-3">
			<h3 class="text-center">Our Mission</h3>
			<hr/>
			<div class="text-center" style="font-size: 1.2em;">
				Research and build space ready technology at McGill, and participate in the Canadian Satellite Design Challenge
			</div>
			<hr/>
		</div>
		<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1 text-justify line-gap" style="font-size: 1em;">
			
		</div>
	</div>
</div>
