<div class="mssg-nav">
	<div class="mssg-logo"><a href="/#!"><img src="/assets/img/mssg100.png"/></a></div>
	<div class="mssg-links">
		<div id="index" class="mssg-link">
			<a href="/#!">Home</a>
		</div>
		<div id="about" class="mssg-link has-dropdown">
			<a href="/#!/about">About Us</a>
			<i class="ion-chevron-down dd-trigger"></i>
			<div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/#!/about/mssg">
						<div class="mssg-dropdown-link">
							MSSG
						</div>
					</a>
					<a href="/#!/about/csdc">
						<div class="mssg-dropdown-link">
							CSDC Team
						</div>
					</a>
					<a href="/#!/about/education">
						<div class="mssg-dropdown-link">
							Education Team
						</div>
					</a>
					<a href="/#!/about/policy">
						<div class="mssg-dropdown-link">
							Policy Team
						</div>
					</a>
					<a href="/#!/about/contact">
						<div class="mssg-dropdown-link">
							Contact
						</div>
					</a>
				 </div>
			</div>
		</div>
		<div id="research" class="mssg-link has-dropdown">
			<a href="/#!/research">Research</a>
			<i class="ion-chevron-down dd-trigger"></i>
			 <div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/#!/research/design-projects">
						<div class="mssg-dropdown-link">
							Design Projects
						</div>
					</a>
					<a href="/#!/research/academic-papers">
						<div class="mssg-dropdown-link">
							Academic Papers
						</div>
					</a>
				 </div>
			</div>
		</div>
		<div id="competitions" class="mssg-link has-dropdown">
			<a href="/#!/competitions">Competitions</a>
			<i class="ion-chevron-down dd-trigger"></i>
			 <div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/#!/competitions/csdc">
						<div class="mssg-dropdown-link">
							CSDC
						</div>
					</a>
					<a href="/#!/competitions/seds">
						<div class="mssg-dropdown-link">
							SEDS
						</div>
					</a>
				 </div>
			</div>
		</div>
		 <div id="sponsorships" class="mssg-link">
			<a href="/#!/sponsorships">Sponsorships</a>
		</div>
	</div>
</div>
<div id="under-construction" class="row under-construction">
	<h4><i>Still Under Construction!</i></h4>
</div>
<script src="/js/dropdown.js"></script>
