<div class="mssg-nav">
	<div class="mssg-logo"><a href="/landing-page/#!"><img src="/landing-page/assets/img/mssg100.png"/></a></div>
	<div class="mssg-links">
		<div class="mssg-link link-active">
			<a href="/landing-page/#!">Home</a>
		</div>
		<div class="mssg-link has-dropdown">
			<a href="/landing-page/#!/about">About Us</a>
			<i class="ion-chevron-down dd-trigger"></i>
			<div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/landing-page/#!/about/mssg">
						<div class="mssg-dropdown-link">
							MSSG
						</div>
					</a>
					<a href="/landing-page/#!/about/csdc">
						<div class="mssg-dropdown-link">
							CSDC Team
						</div>
					</a>
					<a href="/landing-page/#!/about/education">
						<div class="mssg-dropdown-link">
							Education Team
						</div>
					</a>
					<a href="/landing-page/#!/about/policy">
						<div class="mssg-dropdown-link">
							Policy Team
						</div>
					</a>
					<a href="/landing-page/#!/about/contact">
						<div class="mssg-dropdown-link">
							Contact
						</div>
					</a>
				 </div>
			</div>
		</div>
		<div class="mssg-link has-dropdown">
			<a href="/landing-page/#!/research">Research</a>
			<i class="ion-chevron-down dd-trigger"></i>
			 <div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/landing-page/#!/research/design-projects">
						<div class="mssg-dropdown-link">
							Design Projects
						</div>
					</a>
					<a href="/landing-page/#!/research/academic-papers">
						<div class="mssg-dropdown-link">
							Academic Papers
						</div>
					</a>
				 </div>
			</div>
		</div>
		<div class="mssg-link has-dropdown link-active">
			<a href="/landing-page/#!/competitions">Competitions</a>
			<i class="ion-chevron-down dd-trigger"></i>
			 <div class="mssg-dropdown">
				<div class="mssg-dropdown-wrap">
					<a href="/landing-page/#!/competitions/csdc">
						<div class="mssg-dropdown-link">
							CSDC
						</div>
					</a>
					<a href="/landing-page/#!/competitions/seds">
						<div class="mssg-dropdown-link">
							SEDS
						</div>
					</a>
				 </div>
			</div>
		</div>
		 <div class="mssg-link">
			<a href="/landing-page/#!/sponsorships">Sponsorships</a>
		</div>
	</div>
</div>
<div id="under-construction" class="row under-construction">
	<h4><i>Still Under Construction!</i></h4>
</div>
<script src="/landing-page/js/dropdown.js"></script>
