body {
  margin: 0 !important; 
}

/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
 
 .mssg-content:after {
   content: '\2605';
   position: absolute;
   height: 30px;
   width: 30px;
   text-align: center;
   border-radius: 100%;
   line-height: 30px;
   box-sizing: border-box;
   top: calc(100% - 12px);
   left: calc((100% - 30px) / 2);
   background-color: #fff;
   
 }
 
 .line-gap {
   line-height: 20px;  
 }
 
.mssg-nav .mssg-links, .mssg-nav .mssg-links .mssg-link, .mssg-content .mssg-background .mssg-background-blurb, .mssg-content .mssg-background .mssg-background-blurb #blurb-text {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
.mssg-nav .mssg-links {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.mssg-content .mssg-background .mssg-background-blurb {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
.mssg-nav .mssg-links .mssg-link, .mssg-content .mssg-background .mssg-background-blurb, .mssg-content .mssg-background .mssg-background-blurb #blurb-text {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

/*
    Align items
 */
.mssg-nav .mssg-links .mssg-link, .mssg-content .mssg-background .mssg-background-blurb, .mssg-content .mssg-background .mssg-background-blurb #blurb-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
/*
    Align content
 */
.mssg-nav {
  position: fixed;
  height: 75px;
  line-height: 75px;
  width: 100%;
  background-color: #333;
  opacity: 0.9;
  z-index: 1000;
  box-sizing: border-box;
  padding: 20px; }
  @media (max-width: 960px) {
    .mssg-nav {
      display: none; } }
  .mssg-nav .mssg-links {
    height: 100%;
    width: auto;
    float: right; }
    .mssg-nav .mssg-links .mssg-link {
      height: 100%;
      line-height: 100%;
      cursor: pointer;
      position: relative;
      width: auto;
      min-width: 4em;
      margin-right: 30px;
      font-size: 12px;
      letter-spacing: 2px;
      font-family: Rubik;
      font-weight: 500; 
      
    }
    
    .mssg-link i {
      color: #fff;
      border-radius: 100%;
      text-align: center;
      margin-left: 10px;
      font-size: 8px;
      height: 15px;
      width: 15px;
      line-height: 15px;
    }
      .mssg-nav .mssg-links .mssg-link.link-active:after {
        background-color: #5E82F7;
        transform: scaleX(1); 
        width: 2em;
      }
      
      .mssg-nav .mssg-links .mssg-link:first-child:after {
        left: 3px;  
      }
      
      .mssg-nav .mssg-links .mssg-link:after {
        content: "";
        position: absolute;
        height: 2px;
        top: 80%;
        width: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out; }
  
      .mssg-nav .mssg-links .mssg-link:hover:after {
        transform: scaleX(1); 
        width: 10px;
      }

a {
  text-decoration: none !important; }

.mssg-links a {
  color: #fff; }

.mssg-content {
  width: 100%;
  position: relative;
  height: auto;
  }
  
  .mssg-content .mssg-background {
    height: 82vh;
    width: 100%;
    background-image: url("../assets/img/spaceman.jpeg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    }
    @media (max-width: 960px) {
      .mssg-content .mssg-background {
        height: 420px !important;
      }
    }
    
    .mssg-content .mssg-background #background-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #444;
      opacity: 0.8; }
    .mssg-content .mssg-background .mssg-background-blurb {
      position: relative;
      top: 0;
      left: 0;
      height: inherit;
      box-sizing: border-box;
      width: 100%;
      z-index: 20; }
      .mssg-content .mssg-background .mssg-background-blurb #blurb-text {
        height: auto;
        min-height: 6em;
        box-sizing: border-box;
        padding: 5px;
        width: 50%;
        text-align: center;
        font-family: Rubik;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px; }
        @media (max-width: 960px) {
          .mssg-content .mssg-background .mssg-background-blurb #blurb-text {
            width: 100%;
            text-align: center;
            font-size: 18px; } }
      .mssg-content .mssg-background .mssg-background-blurb #blurb-action .mssg-button {
        box-sizing: border-box;
        padding: 1em;
        text-align: center;
        width: auto;
        border-radius: 3px;
        background-color: #fff;
        color: #5E82F7;
        font-family: Rubik;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px; }
      
      .mssg-content .mssg-background .mssg-background-blurb #blurb-action .mssg-button a {
        color: #5E82F7 !important;
      }
/*# sourceMappingURL=page.css.map */

hr {
  border-top: 1px solid #cecece !important;
}

.mssg-sub-links {
  position: absolute;
  top: 90%;
  width: 100%;
}

@media (max-width: 960px) {
  .mssg-sub-links {
    display: none;
  }  
}

.mssg-sub-links ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
}

.mssg-sub-links li {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}

.mssg-sub-links li a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  font-family: Rubik;
}

.mssg-sub-links li a:hover {
  color: #5E82F7;
}

/*overriding bs*/

.container {
  font-family: "Rubik";
}

.mssg-logo {
  display: inline-block;
  margin-left: 100px;
  position: relative;
  top: -18px;
}

.mssg-logo img {
  height: 80px;  
}

.mssg-dropdown {
  position: absolute;
  height: auto;
  width: 14em;
  border-radius: 4px;
  background-color: #fff;
  top: 90%;
  left: -10px;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  opacity: 0;
}

.mssg-dropdown.dd-active {
  visibility: visible;
  opacity: 1;
  left: 0;
  pointer-events: all;
}

.mssg-dropdown-wrap {
  min-height: 3em;
  width: 100%;
  box-sizing: border-box;
}

.mssg-dropdown-link {
  height: 3em;
  color: #5E82F7;
  width: 100%;
  text-indent: 10px;
  line-height: 3em;
  border-bottom: 1px solid #cecece;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.mssg-dropdown-link:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mssg-dropdown-link:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mssg-dropdown-link a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.mssg-dropdown-link a:hover {
  color: inherit;  
}

.mssg-dropdown-link:hover {
  background-color: #5E82F7;
  color: #fff;
}

.nami-bar, .nami-menu {
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 960px) {
  .nami-bar, .nami-menu {
    visibility: visible;
    pointer-events: all;
  }
}